<div class="page-container">

  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a href="#">
        <img src="assets/images/icon/logo.png" alt="Cool Admin" />
      </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
      <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar__list">


          <li>
            <a routerLink="listproduit">
              <i class="fas fa-table"></i>list Produit</a>
          </li>
          <li>
            <a routerLink="addproduit">
              <i class="fas fa-table"></i>Ajouter Produit</a>
          </li>


        </ul>
      </nav>
    </div>
  </aside>
  <!-- END MENU SIDEBAR-->
</div>
