<div class="page-wrapper">
  <!-- HEADER MOBILE-->
  <header class="header-mobile d-block d-lg-none">
    <div class="header-mobile__bar">
      <div class="container-fluid">
        <div class="header-mobile-inner">
          <a class="logo" href="index.html">
            <img src="assets/images/icon/logo.png" alt="CoolAdmin" />
          </a>
          <button class="hamburger hamburger--slider" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </div>
      </div>
    </div>
    <nav class="navbar-mobile">
      <div class="container-fluid">

      </div>
    </nav>
  </header>
  <!-- END HEADER MOBILE-->
  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section__content section__content--p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <form class="form-header" action="" method="POST">


            </form>
            <div class="header-button">
              <div class="account-dropdown__footer">
                <a (click)="loggout()">
                  <i class="zmdi zmdi-power"></i>Logout</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- HEADER DESKTOP-->
  </div>
</div>
